<h1> Stats, stats and more stats! </h1>

<h3>Kickers</h3>

<form action="/player/<%= @player.id() %>" method="post" class="form-horizontal">
  <label for="k_hits">Hits</label>
  <input type="text" name="k_hits" id="k_hits" placeholder="Hits">
  <label for="at_bats">At Bats</label>
  <input type="text" name="at_bats" id="at_bats" placeholder="At Bats">
  <label for="singles">Singles</label>
  <input type="text" name="singles" id="singles" placeholder="Singles">
  <label for="doubles">Doubles</label>
  <input type="text" name="doubles" id="doubles" placeholder="Doubles">
  <label for="triples">Triples</label>
  <input type="text" name="triples" id="triples" placeholder="Triples">
  <label for="k_home_runs">Home Runs!</label>
  <input type="text" name="k_home_runs" id="k_home_runs" placeholder="Home Runs">
  <label for="k_runs">Runs</label>
  <input type="text" name="k_runs" id="k_runs" placeholder="Runs">
  <label for="rbi">RBIs</label>
  <input type="text" name="rbi" id="rbi" placeholder="RBIs">
  <label for="k_walks">Walks</label>
  <input type="text" name="k_walks" id="k_walks" placeholder="Walks">
  <label for="k_strikeouts">Strikeouts</label>
  <input type="text" name="k_strikeouts" id="k_strikeouts" placeholder="Strikeouts">
  <button type="submit" class="btn btn-danger">Stats!</button>
</form>

<h3>Pitchers</h3>

<form action="/player/:id" method="post"class="form-horizontal">
  <label for="batters_faced">Batters Faced</label>
  <input type="text" name="batters_faced" id="batters_faced" placeholder="Batters Faced">
  <label for="wins">Wins</label>
  <input type="text" name="wins" id="wins" placeholder="Wins">
  <label for="losses">Losses</label>
  <input type="text" name="losses" id="losses" placeholder="Losses">
  <label for="earned_runs">Earned Runs</label>
  <input type="text" name="earned_runs" id="earned_runs" placeholder="Earned Runs">
  <label for="p_runs">Runs</label>
  <input type="text" name="p_runs" id="p_runs" placeholder="Runs">
  <label for="p_hits">Hits</label>
  <input type="text" name="p_hits" id="p_hits" placeholder="Hits">
  <label for="p_home_runs">Home Runs</label>
  <input type="text" name="p_home_runs" id="p_home_runs" placeholder="Home Runs">
  <label for="p_walks">Walks</label>
  <input type="text" name="p_walks" id="p_walks" placeholder="Walks">
  <label for="p_strikeouts">Strikeouts</label>
  <input type="text" name="p_strikeouts" id="p_strikeouts" placeholder="Strikeouts">
  <label for="wild_pitch">Wild Pitch</label>
  <input type="text" name="wild_pitch" id="wild_pitch" placeholder="Wild Pitch">
  <label for="saves">Saves</label>
  <input type="text" name="saves" id="saves" placeholder="Saves">
  <label for="strikes">Strikes</label>
  <input type="text" name="strikes" id="strikes" placeholder="Strikes">
  <label for="balls">Balls</label>
  <input type="text" name="balls" id="balls" placeholder="Balls">
  <label for="pitches">Pitches</label>
  <input type="text" name="pitches" id="pitches" placeholder="Pitches">
  <button type="submit" class="btn btn-danger">Stats!</button>
</form>

<h3>Fielders</h3>

<form action="/player/:id" method="post" class="form-horizontal">
  <label for="innings_played">Innings Played</label>
  <input type="text" name="innings_played" id="innings_played" placeholder="Innings Played">
  <label for="put_outs">Put Out</label>
  <input type="text" name="put_outs" id="put_outs" placeholder="Puts Out">
  <label for="fielding_errors">Fielding Errors</label>
  <input type="text" name="fielding_errors" id="fielding_errors" placeholder="Feilding Errors">
  <label for="throwing_errors">Throwing Errors</label>
  <input type="text" name="throwing_errors" id="throwing_errors" placeholder="Throwing Errors">
  <button type="submit" class="btn btn-danger">Stats!</button>
</form>
